.header__banner {
  background-size: cover;
  width:100%;
  height: 85vh;
}

.slide{
  margin-top: -15vh;
}


h2 {
  font-size: 2.5rem;
  color: lightgray;
}

.titlebloc{
  padding-top: 45vh;
  margin-left: 3vw;
}

.buttons{
  margin-top: 7vh;
}

.more{
  margin-left: 3vw; 
}
