<mat-toolbar class="toolbar" id="stickyHeader" [class.sticky]="sticky" #stickHeader>

    
    <div class="left">
        <a routerLink="/browse" class="logo"><img src="assets/logo.png" ></a>
        <button mat-button color="primary" routerLink="/browse">Accueil</button>
        <button mat-button color="primary" routerLink="/serie">Séries</button>
        <button mat-button color="primary" routerLink="/film">Films</button>
    </div>

    <div class="right">

        <mat-form-field  class="search" color="accent" appearance="outline">
            <mat-label>Recherche</mat-label>
            <input matInput [(ngModel)]="research" (keyup.enter)="searchbar()">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button routerLink="/profil" mat-menu-item>
              <mat-icon>face</mat-icon>
              <span>Compte</span>
            </button>
            <button (click)="logout()" mat-menu-item>
              <mat-icon>logout</mat-icon>
              <span>Deconnexion</span>
            </button>
        </mat-menu>
        
    </div>


</mat-toolbar>