.mat-tab-group {
    margin-bottom: 48px;
    color: white;
}

.container{
    width: 90%;
    margin: 10vh auto;
}

table{
    width: 100%;
}

.actionPill
{
    border: 2px solid orange ;
    border-radius: 20px;
    display: inline-flex;
}
