.container{
    background: #040617;
    width: 100%;
    height: 100%;
}

.toolbar{
    background: transparent;
    padding: 50px 100px;
    justify-content: space-between;
}

.logo{
    width: 70px;
}

p{
    color: orange;
    font-size: 22px;
}
