<div class="container">
    <mat-toolbar class="toolbar"> <a [routerLink]="''"><img src="assets/logo.png" class="logo"></a>  </mat-toolbar>

    <div class="form">

        <p></p>

        <mat-form-field appearance="outline" color="accent" class="inp">
            <mat-label>Email</mat-label>
            <input [(ngModel)]="form.email" matInput>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent" class="inp">
            <mat-label>Mot de passe</mat-label>
            <input matInput [(ngModel)]="form.mdp" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide">
                <mat-icon color="primary">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <button mat-raised-button (click)="login()" color="primary">S'identifier</button>

        <p class="redir">Première visite ? <a class="grey" [routerLink]="'/signup'"> Inscrivez-vous. </a> </p>

    </div>

</div>
