<div class="container">
    <mat-toolbar class="toolbar"> <img src="assets/logo.png" class="logo"> <button mat-raised-button color="primary" [routerLink]="'/login'">S'identifier</button> </mat-toolbar>


    <section class="first">
        
        <div class="present">
            <p>Films, séries TV et <br><br> bien plus ce que vous imaginez.</p>
            <button mat-raised-button color="primary" [routerLink]="'/signup'">Commencer</button>
        </div>

    </section>

    <section class="second">

    </section>
    
    <footer>
        <img src="assets/logo.png" class="logo">
    </footer>

</div>