.bg{
    width: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: no-repeat;
}


.toolbar{
    position: relative;
    background: transparent;
    z-index: 100;
    margin-top: 30px;
    padding: 0 100px;
    justify-content: space-between;
}

.present{
    color: white;
    position: relative;
    width: 50%;
    margin-top: 20%;
    margin-left: 100px;
    /* text-align: center; */
    font-size: 36px;
}

.logo{
    width: 70px;
}

.btn{
    background: #dc5b00;
    margin: 5px;
}

footer{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50vh;
}

section{
    height: 50vh;
}
