<app-header></app-header>

<div class="container">

    <div class="title">
        <span>Résultats pour "{{research}}"</span>
        <!-- <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Affiner</button>
        <mat-menu xPosition="before" #menu="matMenu">
            <button (click)="tri()" mat-menu-item>
                <mat-checkbox [(ngModel)]="seriechk">Séries</mat-checkbox>
            </button>
            <button (click)="tri()" mat-menu-item>
                <mat-checkbox [(ngModel)]="filmchk">Films</mat-checkbox>
            </button>
        </mat-menu> -->
    </div>

    <div class="results">

        <mat-card class="slick-item" *ngFor="let m of searchRes">
 
            <a [routerLink]="['/detail',m.video_type ,m.id]"><img mat-card-image src="https://image.tmdb.org/t/p/w200{{m?.poster_path}}" title="{{m.title || m.name}}"></a>
 
        </mat-card>
    </div>

</div>