/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #040617;}

.logo{
    width: 60px;
}

p,span{
    color: white;
}